
    
<section class="container mt-4">

    <h1>Seja bem-vindo ao eRural!</h1>
    
    <hr>    
    <br>
        <section class="container-grid">
        
            <a href="/salas"class="gridItem"><h4>Salas</h4></a>
        
        </section>
</section>
